.main {
    max-width: 1200px;
    margin: 5rem auto;
    height: 50vh;
    padding: 1rem;
}
.notify {
    display: block;
    margin: 1rem auto;
    text-align: center;
}
.productGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 15rem));
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
}

@media screen and (max-width: 768px) {
    .main {
        margin: 2.5rem auto 2.5rem;
    }
    .productGrid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;
    }
}
@media screen and (max-width: 432px) {
    .main {
        margin: 5rem auto;
    }
    .productGrid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;
    }
}