.productContainer {
    position: relative;
}
.wishlistBtn {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}
.fillWishlist {
    color: var(--red-heart);
}
.productCard {
    height: auto;
    overflow: hidden;
    background-color: var(--white);
}
.productImg {
    width: 100%;
    max-width: inherit;
    height: auto;
    object-fit: contain;
}
.outOffStock {
    filter: grayscale(1);
}
.productInfo {
    grid-gap: 0 4px;
    gap: 0 4px;
    display: grid;
    grid-template-areas:
        "title price";
    grid-template-columns: 1fr -webkit-max-content;
    grid-template-columns: 1fr max-content;
}