.bannerSection {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 1rem auto;
    padding: 0.5rem;
}
.banner {
    position: relative;
    max-width: 700px;
}
.bannerImg {
    width: 100%;
    max-width: 780px;
    height: auto;
    margin: 1rem auto;
    border-radius: 0.5rem;
}
.bannerInfo {
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translateX(-50%);
    font-size: 2rem;
}
@media screen and (max-width: 1200px) {
    .bannerSection {
        flex-direction: column;
    }
    .bannerImg {
        border-radius: 0.5rem;
    }
}