.sidebar {
    position: fixed;
    width: 16rem;
    height: 100%;
    padding: 1rem;
    border-right: 3px solid var(--border);
}
.card {
    border: 1px solid var(--border);
    border-radius: 0.5rem;
}
.cardSection {
    border-bottom: 1px solid var(--border);
}


@media screen and (max-width: 768px) {
    .sidebar {
        all: unset;
    }
}
